[submodule "models/trento"]
	path = models/trento
	url = https://github.com/dikelps/trento.git
[submodule "models/freestream"]
	path = models/freestream
	url = https://github.com/dikelps/freestream.git
[submodule "models/osu-hydro"]
	path = models/osu-hydro
	url = https://github.com/dikelps/osu-hydro.git
[submodule "models/frzout"]
	path = models/frzout
	url = https://github.com/dikelps/frzout.git
[submodule "models/urqmd-afterburner"]
	path = models/urqmd-afterburner
	url = https://github.com/dikelps/urqmd-afterburner.git
[submodule "tools/hdf2root/HighFive"]
	path = tools/hdf2root/HighFive
	url = https://github.com/BlueBrain/HighFive.git
